Repository codedtun/react-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codetun, @codetun,, @tundeolomu, @tundeolomu,, @codedtun, @codedtun,

Notes added by 'git notes add'
  0cf9b0bb756c626d6f5037b33bdfe79a4413e80c
Owners: @codetun

fix: fix broken auto test
  .github/workflows/ci.yml
Owners: @tundeolomu,, @codedtun

fix: major bug fix
  .github/workflows/release.yml
Owners: @tundeolomu,, @codedtun

Notes added by 'git notes add'
  dd6f5fc3a4101760dc3ded37f05b1e63ae425e70
Owners: @codetun

feat: quick feature added
  .github/workflows/issue.yml
  README.md
Owners: @tundeolomu,, @codedtun, @codetun

Notes added by 'git notes add'
  a746dedaf5f7eac6bfb1623e1d9284a1931d744b
Owners: @codetun

feat: quick add
  README.md
Owners: @codetun

Notes added by 'git notes add'
  f7697ae153e9f0cafc9ac7f7734c8c584525fb48
Owners: @codetun

feat: added new yml file
  .github/actions/hello/action.yml
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
  .github/workflows/actions.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/App.js
Owners: @tundeolomu,, @codedtun, @codetun,, @tundeolomu, @codetun

feat: added new yml file
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
Owners: @codetun,, @tundeolomu

feat: added new yml file
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
  .github/workflows/actions.yml
Owners: @codetun,, @tundeolomu, @tundeolomu,, @codedtun

feat: added new yml file
  .github/actions/issue/action.yml
  .github/actions/issue/dist/index.js
  .github/actions/issue/index.js
  .github/workflows/actions.yml
Owners: @tundeolomu,, @codedtun, @codetun,, @tundeolomu

feat: added new file
  .github/actions/hello/index.js
  .github/actions/issue/dist/index.js
Owners: @codetun,, @tundeolomu

feat: added new file
  .github/actions/issue/index.js
Owners: @codetun,, @tundeolomu

new docker file added
  .github/actions/hello-docker/Dockerfile
  .github/actions/hello-docker/action.yml
  .github/actions/hello-docker/entrypoint.sh
  .github/workflows/actions.yml
Owners: @codetun, @tundeolomu,, @codedtun

new docker file added
  .github/actions/hello-docker/Dockerfile
Owners: @codetun

new docker file added
  .github/actions/hello-docker/entrypoint.sh
Owners: @codetun

new docker file added
  .github/actions/hello-docker/entrypoint.sh
Owners: @codetun

.github/CODEOWNERS:

* @codetun
*.js @codetun, @tundeolomu
*.yml @tundeolomu, @codedtun
/public/ @codedtun, @tundeolomu
/build/ @codedtun, @tundeolomu
/woekflows/ @codedtun, @tundeolomu
